.jumbotron {
  background-color: rgba(24, 141, 141, 0.438);
  color: black;
}

.carta-producto {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.btn-comprar {
  width: 100%;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: rgba(200, 212, 19, 0.699);
  margin-bottom: 0px;
  margin-top: 10px;
}
